/* REGLE  SPACING SYSTEME ET FONT-SIZE SYSTEM CSS */

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* la titraille */

:root {
  --main-color: #007596;
  --second-color: #88aeba;
  --third-color: #4a5c63;
  --fourth-color: black;
}

.about-informations {
  background: linear-gradient(to bottom, #ffffff 0%, #cadee9 100%);
}

.about-informations--infos {
  padding: 3rem 0 0 0;
  text-align: center;
}
.about-informations--infos h1 {
  color: var(--third-color);
  font-size: 3.6rem;
  font-weight: 800;
  margin-top: 0.5rem;
  letter-spacing: 0.5px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.12);
}

.title-second {
  font-weight: 800;
}

.about-informations--infos p {
  /* border: 3px solid black; */
  font-size: 2.6rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
  font-weight: 400;
  line-height: 3rem;
  margin-top: 3.4rem;
  margin-bottom: 2rem;
}

.about-informations--infos span {
  color: var(--second-color);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.08);
}

/* la grille  */

.about-information-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  align-items: start;
  justify-content: center;
}

/* la colonne de gauche  */
.about-informations-grid--text {
  /* border: 3px solid blue; */
  padding-bottom: 3rem;
}

.about-informations-grid--text h2 {
  font-size: 2.8rem;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
  color: var(--third-color);
}

.about-informations-grid--text p {
  font-size: 1.8rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
  letter-spacing: 0.3px;
  line-height: 2.2rem;
  text-align: justify;
  margin-top: 2rem;
  padding: 0 0 0 3rem;
}

.about-informations-grid--text span {
  color: var(--second-color);
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.about-informations-grid--text .txt-black {
  color: var(--main-color);
}

/* la colonne de droite  */
.about-informations-grid--img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-bottom: 3rem;
  /* border: 3px solid blue; */
}

.about-informations-grid--img img {
  width: 40%;
  height: 34rem;
  object-fit: cover;
  transform: scale(1.1);
  transition: all 1s 0.2s ease-out;
  border-radius: 50%;
  margin-top: 3rem;
}

.about-informations-grid--img img:hover {
  transform: scale(1.2);
}
