.layout-page {
  display: flex;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../assets/images/home/photoEquipe.png);
  gap: 5rem;
  justify-content: center;
}

.account-page {
  /* margin: 4rem auto 10rem; */
  max-width: fit-content;
  padding: 3rem;
  border-radius: 3rem;
  background-color: rgba(132, 172, 188, 0.631);
  backdrop-filter: blur(10px);
  border: 0.3rem solid rgba(255, 255, 255, 0.637);
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: 0 2rem 5rem rgb(0 0 0 / 20%), 0 1rem 2rem rgb(132 172 188 / 30%);
}

.account-page h2 {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.container-photo {
  margin: 1.5rem auto;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.container-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.container-account {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container-account > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-account--service select {
  margin-right: 0rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.8rem;
  background-color: white;
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
}

.container-account--service select option {
  background-color: white;
  color: black;
}

.container-account label {
  text-wrap: nowrap;
  width: 11rem;
  text-align: right;
  margin-right: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.container-account input {
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0.8rem;
}

.account-button {
  width: 60%;
  margin: 1.5rem auto;
  border-radius: 3rem;
  font-size: 1.6rem;
}
.account-success {
  font-size: 1.7rem;
  text-align: center;
}

.account-error {
  font-size: 1.5rem;
  text-align: center;
  color: red;
  margin: 1rem;
}

.account-calendar-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: fit-content;
  border-radius: 3rem;
  background-color: rgba(132, 172, 188, 0.631);
  backdrop-filter: blur(10px);
  border: 0.3rem solid rgba(255, 255, 255, 0.637);
  box-shadow: 0 2rem 5rem rgb(0 0 0 / 20%), 0 1rem 2rem rgb(132 172 188 / 30%);
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.account-calendar-panel h3 {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.calendar-subtitle {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0rem;
}
