.card-container-img {
  display: grid;
  place-items: center;
  box-shadow: 5px 2px 12px grey;
  border-radius: 12px;
  padding: 2rem 1rem;
}

.card-container-img img {
  border-radius: 15px;
  width: 90%;
  transition: transform 0.8s ease;
}

.card-container-img img:hover {
  transform: scale(1.04);
}

.card-container-img h1 {
  /* border: 3px solid black; */
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 1rem;
}

.card-container-img a {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 1.2rem 2rem;
  margin-top: 2.5rem;
  transition: transform 0.5s ease;
}

.card-container-img a:hover {
  transform: scale(1.02);
  background-color: rgba(43, 149, 179, 0.825);
  color: white;
}
