.carousel {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  background-color: rgb(255, 255, 255);
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel:hover .track {
  animation-play-state: paused;
  cursor: grabbing;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.2s ease;
}
.card {
  width: 25rem;
  height: 30rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-40px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.card:hover::after {
  content: attr(data-label);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem;
  margin-top: -1rem;
  background-color: rgba(64, 136, 230, 0.933);
  color: rgb(244, 241, 241);
}

.group {
  display: flex;
}

.track {
  display: flex;
  width: max-content;
  animation: spin 40s linear infinite;
}

@keyframes spin {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}
