footer {
  background-color: rgb(63 132 161 / 74%);
}

.footer-down-txt {
  font-size: 6rem;
  text-align: center;
  color: white;
  font-weight: 600;
  margin-bottom: 1.3rem;
  border-top: 1px dotted white;
  padding-top: 2rem;
}

.footer-down-txt--legal {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  list-style-type: none;
}

.footer-contacts img {
  width: 2.7rem;
  transition: all 0.3s ease-in-out;
}

.footer-contacts img:hover {
  transform: scale(1.3);
}

/************************* MEDIAQUERIES **************************/

@media (max-width: 690px) {
  footer {
    padding: 0.5rem;
  }
  .footer-down-txt {
    font-size: 3rem;
    padding-top: 1rem;
  }
  .footer-contacts {
    padding: 0;
  }
  .footer-contacts img {
    width: 2.3rem;
  }
}

@media (max-width: 500px) {
  .footer-down-txt {
    font-size: 2.3rem;
    padding-top: 1rem;
    margin-bottom: 0.9rem;
  }

  .footer-contacts {
    padding: 0;
  }
  .footer-contacts img {
    width: 2rem;
  }
}
