.header-banner {
  height: 50vh;
  position: relative;
}

.header-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-title {
  position: absolute;
  letter-spacing: 0.2px;
  top: 40%;
  left: 2.5%;
  font-weight: 800;
  font-size: 4rem;
}

.header-button {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1px;
  font-size: 2.4rem;
  font-weight: 600;
  display: inline-block;
  padding: 1.4rem 3rem;
  top: 65%;
  left: 8%;
  text-decoration: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.header-banner::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(230, 218, 218, 1) 72%
  );
}

/********** HEADER *********/

@media (max-width: 905px) {
  .header-title {
    font-size: 3.5rem;
    font-weight: 800;
  }
  .header-banner img {
    object-position: 60%;
  }
  .header-button {
    top: 70%;
    font-size: 2.3rem;
  }
}

@media (max-width: 840px) {
  .header-title {
    font-size: 4.4rem;
    font-weight: 800;
  }
}

@media (max-width: 650px) {
  .header-title {
    font-size: 3rem;
    top: 35%;
    left: 2.5%;
    font-weight: 800;
    text-wrap: balance;
  }

  .header-button {
    top: 74%;
    font-size: 2.2rem;
  }
}

@media (max-width: 390px) {
  .header-title {
    text-wrap: balance;
    top: 38%;
    font-size: 2.8rem;
    font-weight: 800;
  }
  .header-button {
    top: 76%;
    font-size: 2.1rem;
    left: 8%;
  }
}

@media (max-width: 375px) {
  .header-button {
    top: 76%;
    font-size: 1.8rem;
    left: 14%;
  }
}
@media (max-width: 344px) {
  .navbar-link-items--name {
    font-size: 1.4rem;
  }
  .header-button {
    top: 76%;
    font-size: 1.6rem;
    left: 12%;
  }
}
