.header-banner {
  height: 50vh;
  position: relative;
}

.header-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 14%;
}

.header-title {
  position: absolute;
  letter-spacing: 0.2px;
  top: 41%;
  left: 2.5%;
  font-weight: 800;
  font-size: 4rem;
  text-shadow: 1px 0.1px 2px white;
}

.header-button {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1px;
  font-size: 2.4rem;
  font-weight: 600;
  display: inline-block;
  padding: 1.4rem 3rem;
  top: 70%;
  left: 12%;
  text-decoration: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.header-banner::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(230, 218, 218, 1) 72%
  );
}

/********** MEDIA QUERRIES HEADER *********/

@media (max-width: 905px) {
  .header-button {
    top: 70%;
    font-size: 2.3rem;
  }

  .header-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 815px) {
  .header-title {
    font-size: 3rem;
    top: 41%;
    left: 2.5%;
    font-weight: 800;
    text-wrap: balance;
  }

  .header-button {
    font-size: 2.2rem;
  }
}

@media (max-width: 700px) {
  .header-title {
    font-size: 3.3rem;
    left: 2.5%;
    font-weight: 800;
    text-wrap: balance;
  }

  .header-button {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .header-title {
    text-wrap: balance;
    top: 38%;
    font-size: 3rem;
    font-weight: 800;
  }
  .header-button {
    top: 68%;
    left: 24%;
    font-size: 1.8rem;
  }

  .header-banner img {
    object-position: 73%;
  }
}

@media (max-width: 483px) {
  .header-button {
    top: 74%;
    font-size: 1.8rem;
    left: 16%;
  }
}

@media (max-width: 400px) {
  .header-banner img {
    object-position: 63%;
  }
  .header-button {
    top: 76%;
    font-size: 1.5rem;
    left: 18%;
  }
  .header-title {
    font-size: 2.6rem;
  }
}

@media (max-width: 360px) {
  .header-button {
    left: 16%;
  }
}
