.check-box h1 {
  font-size: 2.5rem;
  color: #004261;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

.check-box {
  border: 1.5px solid #004261;
  border-radius: 4rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.check-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  background: linear-gradient(135deg, #23a0c0, #03475653);
}

.check-box-list {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 2rem;
}

.check-box-list p {
  border-radius: 2rem;
  font-size: 1.7rem;
  width: 70rem;
  margin: 0;
  color: whitesmoke;
  font-weight: 500;
}

.check-box-list img {
  height: 4rem;
  border-radius: 50%;
  background-color: #051922;
  padding: 0.5rem;
}

.check-box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.check-box-button a:last-child {
  display: inline-block;
  background-color: rgb(18 12 89 / 68%);
}
.check-box-button a {
  display: inline-block;
  background-color: #267bc5;
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 4rem;
  padding: 1.6rem;
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 10px rgb(190, 187, 187);
  transition: all 0.3s;
}

.check-box-button a:hover {
  transform: scale(1.02);
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.image-box img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #004261;
}

/********** MEDIA QUERRIES CARD *********/

@media (max-width: 600px) {
  .check-box-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 2.5rem;
  }

  .image-box img {
    width: 25rem;
    height: 25rem;
  }

  .check-box h1 {
    font-size: 2.8rem;
  }
  .check-box-list p {
    font-size: 1.5rem;
  }
  .check-box-list img {
    height: 3rem;
  }

  .check-box-button a {
    padding: 1.5rem;
  }
  .check-box-button {
    flex-direction: column;
    gap: 1.3rem;
  }
  .check-box-button a:last-child {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
  }

  .check-box-button a {
    font-size: 1.5rem;
  }

  .check-box {
    padding-left: 0;
    margin-left: 0;
    padding: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
  }
}
