.login-page {
  margin: 0;
  min-height: 100vh;
  background-image: url("../assets/images/home/femme-de-menage-form.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 14rem;
}

.login-page {
  position: relative;
}

.login-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.container-form {
  position: relative;
  z-index: 1;
}
.container-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
  margin: 0 auto;
  border: 1px solid rgb(41, 138, 194);
  border-radius: 2rem;
  padding: 5rem;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.container-form h2 {
  text-align: center;
  font-size: 4rem;
}

.subtitle {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
}

.link {
  color: #267bc5;
  cursor: pointer;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

/* Ligne (email + password) */
.container-form--email,
.container-form--password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Labels */
.container-form label {
  width: 100px;
  font-size: 1.6rem;
  font-weight: bold;
}

/* Inputs */
.container-form input {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Focus input */
.container-form input:focus {
  outline: none;
  border-color: #267bc5;
}

/* Bouton */
button {
  margin-top: 1rem;
  padding: 0.7rem;
  font-size: 2.2rem;
  border: none;
  border-radius: 5px;
  background-color: #58b5d2da;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #177e9da1;
}

.success {
  margin-top: 1rem;
  color: #2e7d32;
  background-color: #e6f4ea;
  padding: 0.7rem;
  border-radius: 8px;
  text-align: center;
  font-size: 1.4rem;
}

/************************* MEDIAQUERIES **************************/

@media (max-width: 1300px) {
  .container-form {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    width: 48%;
    margin-top: 15rem;
  }
}

@media (max-width: 1100px) {
  .login-page {
    min-height: 80vh;
    padding: 4rem 0;
  }

  .container-form {
    display: flex;
    flex-direction: column;
    width: 52%;
    margin: 22rem auto;
    gap: 2rem;
  }

  button {
    font-size: 1.7rem;
  }

  .container-form h2 {
    text-align: center;
    font-size: 3rem;
  }

  .container-form label {
    font-size: 1.4rem;
  }
}

@media (max-width: 840px) {
  .container-form {
    margin: 15rem auto;
  }
  button {
    font-size: 1.7rem;
  }

  .container-form h2 {
    text-align: center;
    font-size: 3rem;
  }

  .container-form label {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 1.4rem;
    white-space: nowrap;
  }
}

@media (max-width: 780px) {
  .login-page {
    margin: 0;
    min-height: 90vh;
  }
}

@media (max-width: 700px) {
  .container-form {
    display: flex;
    flex-direction: column;
    min-width: 40rem;
    margin: 22rem auto;
    gap: 2rem;
  }
}

@media (max-width: 552px) {
  .container-form {
    padding: 2rem;
  }
  .login-page {
    background-position: 30% center; /* un peu à gauche */
  }
}

@media (max-width: 431px) {
  .subtitle {
    font-size: 1.2em;
  }
  .container-form {
    min-width: 33rem;
  }

  .container-form h2 {
    font-size: 2rem;
  }
}

@media (max-width: 414px) {
  .container-form {
    min-width: 35rem;
  }
}

@media (max-width: 376px) {
  .container-form {
    min-width: 32rem;
    margin: 14rem auto;
  }
}
