/* titre-grid */
.title-grid {
  font-weight: 800;
}

.grid-informations {
  background: linear-gradient(to bottom, #ffffff 0%, #cadee9 100%);
}

.grid-informations {
  padding: 2rem 0 0 0;
  text-align: center;
}

.grid-informations p {
  font-size: 2.6rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
  font-weight: 400;
  line-height: 3rem;
  margin-top: 3.4rem;
}

.grid-informations h2 {
  font-size: 2.6rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
  font-weight: 400;
}

.grid-informations span {
  color: var(--second-color);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.08);
}

/* //grid-card */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* border: 3px solid blue; */
  padding: 6rem;
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}

/********** MEDIA QUERRIES GRID CONTAINER *********/

@media (max-width: 945px) {
  .grid-container {
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 5rem;
  }
  .grid-informations p {
    font-size: 2.2rem;
    padding: 0rem 2rem;
    margin-top: 3rem;
    line-height: 1.3;
  }
  .grid-informations h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 678px) {
  .grid-informations p {
    font-size: 2rem;
    padding: 2rem;
    margin: 0 2rem;
  }
  .grid-informations h2 {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* border: 3px solid blue; */
    padding: 3rem;
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
  }

  .grid-informations p {
    font-size: 2.2rem;
    margin-top: 0rem;
  }

  .grid-informations h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 375px) {
  .grid-informations p {
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }

  .grid-informations h2 {
    font-size: 1.6rem;
  }
}
