/* titre-grid */
.title-grid {
  font-weight: 800;
}

.grid-informations {
  background: linear-gradient(to bottom, #ffffff 0%, #cadee9 100%);
}

.grid-informations {
  padding: 3rem 0 0 0;
  text-align: center;
}

.grid-informations p {
  font-size: 2.6rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12);
  font-weight: 400;
  line-height: 3rem;
  margin-top: 3.4rem;
  margin-bottom: 2rem;
}

.grid-informations span {
  color: var(--second-color);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.08);
}

/* //grid-card */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* border: 3px solid blue; */
  padding: 6rem;
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}
