/* REGLE  SPACING SYSTEME ET FONT-SIZE SYSTEM CSS */

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --main-color: #007596;
}
.navbar {
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-right: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.navbar-logo {
  font-size: 4rem;
  margin-left: 3rem;
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.navbar-link-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navbar-link-items--name {
  white-space: nowrap;
  font-size: 1.8rem;
}

.navbar-link-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.6rem;
  cursor: pointer;
}

.navbar-link-items img {
  width: 2.2rem;
  margin-right: 0.3rem;
  filter: drop-shadow(0 0 0px transparent);
  transition: filter 0.2s ease-in-out;
}

.navbar-link-items > li:hover img {
  filter: drop-shadow(0 0 1rem var(--main-color));
}

.navbar-link-items a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  transition: color 0.2s ease-in-out;
}

.navbar-link-items > li a:hover {
  color: var(--main-color);
}

.navbar-link-items li:last-child {
  margin-right: 3rem;
}

.navbar-link-items li:last-child:hover {
  filter: invert(24%) sepia(86%) saturate(1476%) hue-rotate(159deg)
    brightness(97%) contrast(101%);
}

/***************** MEDIA QUERRIES NAVBAR *****************/

@media (max-width: 1115px) {
  .navbar {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
  }

  .navbar-link-items--name {
    white-space: nowrap;
    font-size: 1.7rem;
  }

  .navbar-logo {
    margin-left: 1rem;
  }

  /* .navbar-link-items li:last-child {
    margin-right: 0rem;
  } */
}

@media (max-width: 846px) {
  .navbar-link-items--name {
    font-size: 1.5rem;
  }
}

@media (max-width: 777px) {
  .navbar {
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;
  }

  .navbar-link-items--name {
    font-size: 1.35rem;
  }
}

@media (max-width: 690px) {
  .navbar-link-items li:nth-child(-n + 3) {
    display: none;
  }

  .navbar {
    gap: 2rem;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 1rem;
  }
  .navbar-link-items--name {
    font-size: 1.6rem;
  }
  .navbar-logo {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .navbar-link-items li:last-child {
    margin-right: 0rem;
  }
}

@media (max-width: 375px) {
  .navbar-link-items--name {
    font-size: 1.4rem;
  }

  /* .navbar-link-items a {
    margin-left: revert-layer;
  } */

  .navbar-logo {
    font-size: 2rem;
  }
}
